@{
    ViewBag.Title = "Анализ сайта";
}

<div class="jumbotron">
    <h1 style="text-align: center; margin-bottom: 30px; margin-top: 10px;">Проверка микроразметки</h1>
    <form method="get" action="/Division/Check" class="form-inline" style="text-align: center">
        <input class="form-control" type="text" name="name" placeholder="http://" value="@ViewBag.SiteName" style="width: 50%; height: 45px;"/>
        <input type="submit" class="btn btn-primary btn-lg" value="Проверить" />
    </form>
</div>
