@{
    ViewBag.Title = "Главная страница";
}
<h2 style="text-align: center">Проверка сайтов образовательных организаций</h2>

<text>Проверка сайта проводится на соответствие требованиям, представленных в рамках исполнения государственного контракта от 7 апреля 2017 года №Ф-15-кс-2017 "Актуализированные методические рекомендации представления информации об образовательной организации высшего образования в открытых источниках с учетом соблюдения требований законодательства в сфере образования".</text>

<h4>Как проверить сайт на соответствие методическим рекомендациям Рособрнадзора?</h4>
Два шага экспресс-проверки сайта:
       1. Введите адрес официального сайта образовательной организации
       2. Кликните на кнопку «Проверить».

<h4>Что означают результаты проверки?</h4>
Наличие зеленых полей по всем позициям экспресс-проверки Вашего сайта свидетельствует о наличии всех разделов и о полноте тегов, т.е. правильном размещении информации в соответствии с нормативными документами. Примите наши поздравления!
Что могут означать красные поля в отчете по экспресс-проверке сайта? Обнаружено отсутствие отдельных разделов сайта или их несоответствие нормативным документам Рособрнадзора, а также отсутствие или некорректное использование тегов для размещения информации.



