@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Проверка микроразметки</h1>
    <form method="get" action="/Division/Check">
        <input type="text" name="name" placeholder="http://"/>
        <input type="submit" class="btn btn-primary btn-lg" value="Проверить" />
    </form>
</div>
