@{
    ViewBag.Title = "Главная страница";
}
<h2 style="text-align: center">Проверка сайтов образовательных организаций</h2>
<hr>
<div style="text-indent: 30px">
    <p>
        <img src="~/Content/ico.png" width="280" height="280" alt="Иллюстрация" align="right" vspace="5" hspace="5">
        <text style="font-size: 16px">Проверка сайта проводится на соответствие требованиям, представленных в рамках исполнения государственного контракта от 7 апреля 2017 года №Ф-15-кс-2017 "Актуализированные методические рекомендации представления информации об образовательной организации высшего образования в открытых источниках с учетом соблюдения требований законодательства в сфере образования".</text>
    </p>
    <hr>
    <h4 style="font-size: 20px">Как проверить сайт на соответствие методическим рекомендациям Рособрнадзора?</h4>
    <div style="font-size: 16px">
        Два шага для проверки сайта:
        <ul style="margin-left: 30px; padding-left: 30px">
            <li style="list-style-type: disc">Введите адрес официального сайта образовательной организации</li>
            <li style="list-style-type: disc">Кликните на кнопку «Проверить».</li>
        </ul>
    </div>
    <hr>
    <h4 style="font-size: 20px">Что означают результаты проверки?</h4>
    <text style="font-size: 16px">
        Наличие зеленых полей по всем позициям экспресс-проверки Вашего сайта свидетельствует о наличии всех разделов и о полноте тегов, т.е. правильном размещении информации в соответствии с нормативными документами. Примите наши поздравления!
        Что могут означать красные поля в отчете по экспресс-проверке сайта? Обнаружено отсутствие отдельных разделов сайта или их несоответствие нормативным документам Рособрнадзора, а также отсутствие или некорректное использование тегов для размещения информации.
    </text>
</div>


